html, body {
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
  background-color: black;
}

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: -4px;
  right: 5px;

  color: transparent;
  text-shadow: 0 0 4px white;
}

.options-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  left: 20px;
  gap: 10px;
}

.color-selector {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.55);
}

.color-option {
  display: flex;
}

.shape-selector {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.55);
}

.shape_option {
  display: flex;
}