main {
  background-color: rgb(182, 184, 185);
  border: 10px solid #000;
  border-top-right-radius: 50px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 50px;
  padding: 8px 32px;
}

p {
  font-size: 22px;
  color: #000;
}
