.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: "header header header header header"
                         "nav main main main aside"
                         "footer footer footer footer footer";
    padding: 5px;
    gap: 5px
}

.container > header {
    background-color:brown;
    color: brown;
    grid-area: header;
}

.container > nav {
    background-color: blue;
    grid-area: nav;
}

.container > main {
    background-color:darkgreen;
    grid-area: main;
}

.container > aside {
    background-color:darkmagenta;
    grid-area: aside;
}

.container > footer {
    background-color:darkorange;
    grid-area: footer;
}