body {
    background-color: #000;
    background-image: url(nebulosa.png);
    background-size: cover;
    background-repeat: no-repeat;
}

div {
    margin: 15vh 5vw;
    width: 20vw;
    padding: 16px;
    border: 8px solid #ce861a;
    border-radius: 50px;
    background-color:rgb(20, 19, 19, 0.7);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 800;
    justify-content: center;
    align-items: center;
}

p {
    color: #fff;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
}